<div class="body">
    <div class="content">
        <mat-stepper  orientation="vertical" [linear]="true" #stepper (click)="verifyLogin()">
            <mat-step [stepControl]="firstFormGroup" label="Faça seu Login">
                <form [formGroup]="firstFormGroup">
                    <mat-form-field>
                        <mat-label>Login</mat-label>
                        <input matInput placeholder="Digite um valor unico" formControlName="loginCtrl" required>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext>Próximo</button>
                    </div>
                </form>
            </mat-step>
            <mat-step label="Confirme" [editable]="false">
                @if (isNew) {
                    <form [formGroup]="signupFormGroup">
                        <mat-form-field>
                            <mat-label>Nome</mat-label>
                            <input matInput formControlName="nameCtrl" placeholder="Digite seu nome" required>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Senha</mat-label>
                            <input matInput formControlName="passwordCtrl" placeholder="Digite sua senha" required>
                        </mat-form-field>
                        <div>
                            <mat-form-field>
                                <mat-label [ngClass]="{'input_error': signupFormGroup.hasError('ConfirmPassword')}">Confirmar Senha</mat-label>
                                <input matInput formControlName="confirmCtrl" placeholder="Digite novamente sua senha" required>
                            </mat-form-field>
                            @if (signupFormGroup.hasError('ConfirmPassword')) {
                                <mat-error>
                                    As senhas não correspondem.
                                </mat-error>
                            }
                        </div>
                        <div class="step_button">
                            <button mat-button matStepperPrevious>Voltar</button>
                            <button mat-button>Entrar</button>
                        </div>
                    </form>
                } @else {
                    <form [formGroup]="loginFormGroup">
                        <mat-form-field>
                            <mat-label>Senha</mat-label>
                            <input matInput formControlName="passwordCtrl" placeholder="Digite sua senha" required>
                        </mat-form-field>
                        <div class="step_button">
                            <button mat-button matStepperPrevious>Voltar</button>
                            <button mat-button>Entrar</button>
                        </div>
                    </form>
                }
            </mat-step>
        </mat-stepper>
    </div>
</div>