@media screen and (max-width: 991px) {
    .col-md-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .col-md-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .col-md-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .col-md-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .col-md-5 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .col-md-6 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .col-md-7 {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }
    .col-md-8 {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }
    .col-md-9 {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
    }
    .col-md-10 {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }
    .col-md-11 {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
    }
    .col-md-12 {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
}