@media screen and (max-width: 575px) {
    .col-xs-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .col-xs-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .col-xs-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .col-xs-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .col-xs-5 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .col-xs-6 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .col-xs-7 {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }
    .col-xs-8 {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }
    .col-xs-9 {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
    }
    .col-xs-10 {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }
    .col-xs-11 {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
    }
    .col-xs-12 {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
}