@if(isLogged) {
<nav>
    <div class="logo">
        <img src="assets/images/GuCubeBlackLogo.svg" />
    </div>
    <div class="options">
        @if(isAdm) {
        <div class="text" (click)="navigateTo('/manage')">
            <h3>Gerenciar</h3>
        </div>
        <div class="text" (click)="navigateTo('/sale')">
            <h3>Promoções</h3>
        </div>
        <div class="text" (click)="navigateTo('/totem')">
            <h3>Totem</h3>
        </div>
        }
        @if(!isAdm) {
        <div class="filter">
            <button mat-fab (click)="clickFilter()">
                <mat-icon>filter_list</mat-icon>
            </button>
            @if(!showFilter) {
            <div class="filter_screen">
                <div class="filter_Location">
                    <h2>Location</h2>
                    <select [(ngModel)]="selectedCountry">
                        <option value="">-- país --</option>
                        <option *ngFor="let country of countries" [value]="country">{{country}}</option>
                    </select>
                    <select [disabled]="!selectedCountry">
                        <option value="">-- estado --</option>
                        <option *ngFor="let country of countries" [value]="country">{{country}}</option>
                    </select>
                    <select [disabled]="!selectedCountry">
                        <option value="">-- cidade --</option>
                        <option *ngFor="let country of countries" [value]="country">{{country}}</option>
                    </select>
                    <select [disabled]="!selectedCountry">
                        <option value="">-- franquia --</option>
                        <option *ngFor="let country of countries" [value]="country">{{country}}</option>
                    </select>
                </div>
            </div>
            }
        </div>
        }
    </div>
</nav>
}

<router-outlet></router-outlet>