@if(isLogged) {
<nav>
    <div class="logo">
        <img src="assets/images/GuCubeLogo.svg" />
    </div>
    <div class="options">
        @if(isAdm) {
        <div class="text">
            <h3>Gerenciar</h3>
        </div>
        <div class="text">
            <h3>Promoções</h3>
        </div>
        <div class="text">
            <h3>Totem</h3>
        </div>
        }
        @if(!isAdm) {
        <div class="filter">
            <button mat-fab (click)="clickFilter()">
                <mat-icon>filter_list</mat-icon>
            </button>
            @if(!showFilter) {
            <div class="filter_screen">
                <div style="padding: 15px;">
                    <h2>Location</h2>
                    <select>
                        <option value="" selected>-- country --</option>
                        <option *ngFor="let country of countries" [value]="country">{{country}}</option>
                    </select>
                    <select>
                        <option value="" selected>-- state --</option>
                        <option *ngFor="let country of countries" [value]="country">{{country}}</option>
                    </select>
                </div>
            </div>
            }
        </div>
        }
    </div>
</nav>
}

<router-outlet></router-outlet>