.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 2vw;
    overflow: auto;
}

h1,
h2 {
    color: rgb(109, 53, 212);
}

.list {
    gap: 10px;
    width: 100%;
}

.card {
    background-color: rgb(76, 37, 148);
    height: 350px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 80% auto;
    transition: 300ms;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.infos {
    position: relative;
}

.infos_sub {
    opacity: 0;
    margin: 10px;
    transition: 300ms;
}

.infos_main {
    position: absolute;
    margin: 10px;
    bottom: 0;
    z-index: 1;
}

.card:hover {
    background-color: rgb(109, 53, 212);
    grid-template-rows: 20% auto;
}

.card:hover .infos_sub {
    opacity: 1;
}

.invisible_input {
    background-color: rgb(0, 0, 0, 0);
    border: 0;
    color: white;
    width: auto;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.invisible_input::-webkit-inner-spin-button,
.invisible_input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (max-width: 540px) {
    .content {
        padding: 5vw;
    }
}