/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body { background-color: #282828; color: aliceblue; }
h1, h2, h3 { margin: 0; display: inline; }

@font-face {
    font-family: 'Blockbaq';
    src: url('assets/fonts/Blockbaq.ttf') format('opentype');
}
@font-face {
    font-family: 'Blockbaq 2';
    src: url('assets/fonts/Blockbaq\ 2.ttf') format('opentype');
}